@import "tailwindcss";

html,
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  overflow-x: hidden;
}

#root,
#__next {
  min-height: 100vh;
}
